.message
  %p.member-name
    = message.user.name
  %p.message-time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.body.present?
    %p.chat-text
      = message.body
  - if message.image.present?
    %p.chat-text
      = image_tag message.image.url, class: 'image'
